.body {
  min-height: 2000px;
  scroll-behavior: smooth;
}
#home {
}
.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
#contact {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

#projects2 {
  padding-top: 5rem;
}

/* #projects2 img {
  width: 50%;
  height: 30%;
} */
